@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@400;500;600&display=swap');

:root {
    --f-header: "Poppins", sans-serif;
    --f-para: "Quicksand", sans-serif;
}

*, 
html, 
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login {
    height: 100vh;
}

.login-left{
    padding: 50px;
}

.header h1 {
    font-family: var(--f-header);
    font-weight: 900;
    font-size: 3.2rem;
    color: #003974;
    margin-bottom: 1.2rem;
    line-height: 50px;
    padding: 0 50px;
}

.header img {
    height: 2.8rem;
    margin-bottom: 3rem;
    padding: 0 50px;
}

.login-form{
    padding: 0 50px;
}

.login-form label {
    font-family: var(--f-para);
    font-weight: 500;
    color: #003974;
}

.login-form input {
    border: 1px solid #003974;
}

.login-form .form-select {
    border: 1px solid #003974;
}

.c-form {
    padding: 0 90px 0 120px;
}

.form-label {
    margin: 0;
}

.c-input {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #003974;
    font-family: var(--f-header);
    font-weight: 600;
    font-size: 18px;
    padding: 8px 3.8rem;
}


.login-right img {
    align-items: center;
}

.login-right h3 {
    color: white;
    font-family: var(--f-header);
    font-weight: 500;
}

.login-right h3::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 5px;
    width: 10%;
    right: 18.5%;
    bottom: 18%;
    transition: 0.3s;
    border-radius: 10px;
}

#gambar {
    background: url(/assets/img/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.img-fluid{
    margin-top: 10rem;
}

@media (max-width: 576px) {

    .login {
        display: block;
        /* flex-direction: column; */
        margin: 0px;
        padding: 0px;
    }

    .login-right{
        display: none;
    }
    
    .login-left{
        width: 100%;
    }

    .daftar{
        text-align: center;
    }

    .login-form{
        padding: 5px;
    }

    .header img{
        padding: 0;
    }

    .header h1{
        font-size: 24px;
        margin-top: -30px;
    }

    .btn{
        /* margin: 0 auto;
        display: block; */
        width: 100%;
        margin-top: 15px;
    }
}

@media (min-width: 1200px){
    body{
        overflow: hidden;
    }
}